.app-container {
  width: 100%;
  height: 100%;
  background: radial-gradient(715px at 45.83% 50%, #444444 0%, #000000 100%);
  overflow: hidden;
  position: relative;
  font-weight: 400;
  color: var(--color-font-700);
}
