// Playlist.scss

.playlist-container {
  width: 50vw;
  height: 100%;
  padding: 20px;
  background-color: #000;
  border-left: 4px solid #444;
  position: absolute;
  top: 0px;
  right: 0px;

  z-index: 999;
  display: flex;
  flex-flow: column nowrap;
}

.toolbar-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

  .toolbar-btn {
    flex: 1;
  }
}

.tracks-container {
  flex: 1 1 calc(100% - 50px);
  //background-color: #222;
  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;

    .track-item {
      width: 100%;
      height: 50px;
      margin: 0 0 2px 0;
      background-color: #222;
      font-style: italic;
      color: rgba(white, 0.35);
      display: flex;
      align-items: center;
      transition: all 0.25s ease-in-out;

      &.header {
        height: 30px;
        font-size: 14px;
        font-style: normal;
        color: #909090;
        background-color: #000;
        text-transform: uppercase;

        span:not(:first-child) {
          padding: 0 0 0 10px;
          border-left: 1px solid #666;
        }
      }

      &.isReady {
        background-color: #333;
        font-style: normal;
        color: rgba(white, 0.65);

        &:not(.selected):not(.header):hover {
          background-color: #444;
          cursor: pointer;
        }
      }

      .track-index {
        flex: 0 0 auto;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .track-title {
        flex: 1 0 160px;
      }

      .track-artist {
        flex: 1 0 100px;
      }

      .track-album {
        flex: 1 0 100px;
      }

      .track-duration {
        flex: 1 0 80px;
      }

      &.selected {
        background-color: rgb(18, 141, 212);
        color: white;
      }
    }
  }
}
