.playlist-container {
  width: 600px;
  padding: 20px;
  background-color: gray;
  border: 1px solid white;
  position: absolute;
  top: 50px;
  right: 50px;

  z-index: 99999999;
}

.tracks-container {
  padding: 20px;

  ul {
    padding: 0;
    margin: 0;

    .track-item {
      padding: 6px 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      &:not(.selected):hover {
        background-color: lightgrey;
        cursor: pointer;
      }

      &.selected {
        background-color: lightblue;
      }
    }
  }
}
